#li-crad-list {
  list-style-type: none;
  border-left: 2px solid #999;
  margin-left: 3em;
  padding-top: 16px;
  flex-wrap: wrap;

  display: flex;
  width: 1615px;
  height: auto;


  // list-style-type: none;
  // border-left: 2px solid #999;
  // margin-top: 16px;
}
